.mainBody{
    width: 100%;
    background-color:#A7BEAE;
    padding-top: 10px;
}

.contact{
    display: flex;
    align-items:flex-start;
    justify-content: space-around;
}

a{
    color: #778A35 ;
}

.about{
    background-color: #e7e8d1;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0px  #888888;
}

.references{
    /* background-color: #97caef; */
    background-color: #e7e8d1;
    border-radius: 10px;
    padding:10px;
    margin:10px;
    box-shadow: 0 4px 8px 0px  #888888;
}

.contact{
    background-color: #31352E;
    
    color:aliceblue;
    border:1px solid;
}

.mailLink{
    color: #e7e8d1;
}

.mailLink:hover{
    color: rgb(25, 122, 91);
}
