.grdContainer{
    display: flex;
    background-color:#D1E2C4;
    height: 100vh;
}

.grdContainer > div{
    padding: 5px;
}

.item1{
    width: 20%;
    border-right: 1px solid rgba(0, 0, 0, 0.425);
}

.item2{
    width: 80%;
}




