body {
  margin: 0;
  font-family: "Audiowide", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@import url('https://fonts.googleapis.com/css?family=Trirong');

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
